@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    width: 100%;
    overflow-x: hidden;
    background-color: #FAFAFA;
}

@layer components {
    .blue_squareBtn {
        @apply py-2 px-5 my-3 mx-2 text-center bg-MAIN_COLOR text-BASIC_WHITE hover:bg-BTN_HOVER_COLOR rounded-lg font-medium;
    }
    .blue_circleBtn {
        @apply py-2 px-5 my-3 mx-2 bg-MAIN_COLOR text-BASIC_WHITE hover:bg-BTN_HOVER_COLOR rounded-3xl font-medium;
    }
}

@layer utilities {
    .border-b-shadow {
        position: relative;
      }
    
      .border-b-shadow::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px; /* border-bottom의 두께에 맞게 조절하세요 */
        box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.25);
      }
  }